html{
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgba(63,94,251,1);
    background: -webkit-linear-gradient( to bottom,  rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -moz-linear-gradient( to bottom,  rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -ms-linear-gradient( to bottom,  rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -o-linear-gradient( to bottom,  rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: linear-gradient( to bottom,  rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background-repeat:no-repeat;
    font-family: 'Roboto', sans-serif;
}
body{
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
nav{
  background-color: transparent;
}
.navbar-brand {
  font-weight: 600;
  float: left;
  height: 50px;
  padding: 30px 30px;
  font-size: 27px;
  line-height: 20px;
}
/* rgb(255,217,0); */
.navbar-default .navbar-brand {
  color: white;
}
.navbar{
  background-color: transparent;
}
.navbar-default{
  border: 0px transparent;
}
#nav-container{
  background-color: transparent;
}
#nav-container>ul{
  float: right;
}
ul>#email{
  padding: 30px 30px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
#signout-button{
  background-color: white;
  border: 2px solid white;
  color:rgba(63,94,251,1);
  font-size: 18px;
  font-weight: 500;
  padding: 5px 40px;
  margin: 25px;
  border-radius: 20px;
}
#loggedIn {
  display: none;
}
.main{
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.main-heading{
  font-weight: 700;
  font-size: 40px;
  margin-top: 50px;
  color: white;
}
.main-sub-heading{
  font-size: 20px;
  margin-top: 30px;
  color: white;
}
.button-div{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.login-button-div{
  margin: 20px;
}
.profile-button-div{
  margin: 20px;
}
.login-button{
  background-color: white;
  border: 2px solid white;
  color:rgba(63,94,251,1);
  font-size: 20px;
  font-weight: 500;
  padding: 7px 7px;
  border-radius: 30px;
  width: 220px;
}
.profile-button{
  background-color: white;
  border: 2px solid white;
  color:rgba(63,94,251,1);
  font-size: 20px;
  font-weight: 500;
  padding: 7px 7px;
  border-radius: 30px;
  width: 220px;
}